*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
   font-family: sans-serif;
   background-image: url(img/background.jpg); 
}

.payment-card{
   border: 1px solid;
   width: 30%;
   background-color: white;
   margin: 40px auto; 
}

img{
    width: 8%;
    margin: 0 20px;
}

h2{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

h3{
    margin: 13px 0 0 10px;
    font-size: 17px;
}

.Visa{
    border: 1px solid;
    display: flex;
    height: 50px;
}

.Visa h3{
    color: gray;
}

.Master{
    border: 1px solid;
    display: flex;
    height: 50px;
    justify-content: space-around;
}

.Master .logo{
   border: 1px solid;
   display: flex;
}

.Master .check{
     border: 1px solid;
     margin-left: 30px;
}

.Maestro{
    border: 1px solid;
    display: flex;
    height: 50px;
}

.Maestro h3{
    color: gray;
}

.submit{
    background-color: rgb(11, 81, 230);
    height: 60px;
}





